.tile.is-ancestor {
    padding: 0 3rem;
}
.footer-line.hero-footer {
    height: 1px;
    background-color: lightgrey;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.auto-margin {
    margin: auto;
}